*{
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}

/* Background of first home page*/
.home{
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(30, 29, 4, 0.4)),url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: page;
}

/* Head picture of moi */
.picture{
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 2% auto 3%;
}

/* Line separating the menu */
hr {
    display: block;
    margin-top: 10%;
    margin-inline: 25%;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* Navigation menu */
nav{
    display: flex;
    padding: 2% 20%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 5%;
    position: relative;
}
.nav-links ul li a{
    color: #fbf6e1;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/* Content of home */
.home-content{
    min-width: 40%;
    max-width: 40%;
    color: #fbf6e1;
    text-align: center;
    margin:0 auto;
}
.home-content h1{
    font-size: 82px;
    margin-bottom: 4%;
}
.home-content p{
    font-size: 30px;
}

/* Subsection options */
.subsection{
    scroll-margin-top: 0px;
    color: #fff;
    text-align: center;
}
.subsection h1{
    max-width: 40%;
    font-size: 45px;
    font-weight: lighter;
    margin:0 auto 2% auto;
}
.subsection p{
    max-width: 40%;
    font-size: 32px;
    font-weight: lighter;
    color: #fff;
    margin:0 auto;
}
.subsection img{
    width: 425px;
    height: 275px;
    border-radius: 30px;
}
.subsection ul li{
    list-style: none;
    display: inline-grid;
    padding: 8px 6%;
    position: relative;
}

/* Projects background */
#projects{
    min-height: 100vh;
    background-size: cover;
    background: #1B041E url(images/bg.jpg) no-repeat center;
}
#skills{
    min-height: 100vh;
    background-size: cover;
    background: #1B041E url(images/bg.jpg) no-repeat center;
}
#about me{
    min-height: 100vh;
    background-size: cover;
    background: #1B041E url(images/bg.jpg) no-repeat center;
}
#contact{
    min-height: 100vh;
    background-size: cover;
    background: #1B041E url(images/bg.jpg) no-repeat center;
}
/*1b041e*/